@media only screen and (max-width: 1200px) {
    *, body { font-size: 20px; }
    
    .header-logo img { height: 50px; }
    
    .services { width: 100%; }

    .section-portfolio iframe { width: 80%; }
}

@media only screen and (max-width: 1024px) {
    .section-portfolio iframe{
        height: 450px;
        width: 700px;
    }
    
    .service p {
        font-size: 90%;
    }
}

@media only screen and (max-width: 768px) {
    
    *, body { font-size: 20px; }
    
    header .row {  
        -ms-flex-direction: column; 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
        flex-direction: column;
        margin-bottom: 150px;
    }
    
    header nav { display: none; }
    
    .header-logo img { height: 75px; }
    
    .services { -ms-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
    
    .service { width: 225px;}
    
    .service p { font-size: 100%; }
    
    .section-portfolio iframe { 
        width: 450px;
        height: 250px;
    }
    
    .quote blockquote{
        font-size: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .section-portfolio iframe {
        width: 400px;
        height: 200px;
    }
}