@media only screen and (max-width: 1200px) {
    *, body { font-size: 20px; }
    
    .header-logo img { height: 50px; }
    
    .services { width: 100%; }

    .section-portfolio iframe { width: 80%; }
}

@media only screen and (max-width: 1024px) {
    .section-portfolio iframe{
        height: 450px;
        width: 700px;
    }
    
    .service p {
        font-size: 90%;
    }
    
    img.footer-logo {
        margin-left: 30px;
        height: 40px;
    }
    
    .social-media ul {
        margin-right: 30px;
    }
    
    .sticky-logo img {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 768px) {
    
    *, body { font-size: 20px; }
    
    header .row {  
        -ms-flex-direction: column; 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
        flex-direction: column;
        margin-bottom: 150px;
    }
    
    header nav { display: none; }
    
    .header-logo img { height: 75px; }
    
    .services { -ms-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
    
    .service { width: 225px;}
    
    .service p { font-size: 100%; }
    
    .section-portfolio iframe { 
        width: 450px;
        height: 250px;
    }
    
    .quote blockquote{
        font-size: 80%;
    }
    
    .sticky {
        flex-direction: column;
        height: 120px;
    }
    
    .sticky-logo img {
        margin: 20px 0 0 0;
    }
    
    .sticky nav {
        margin-bottom: 10px;
    }
    
    .sticky nav a:link,
    .sticky nav a:visited {
        padding: 0;
        margin-bottom: 10px;
        font-size: 110%;
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 700px;
    }
    
    .header-logo img {
        height: 50px;
    }
    
    .sticky nav a:link,
    .sticky nav a:visited {
        padding: 0;
        margin-bottom: 10px;
        font-size: 80%;
    } 
    
    .showcase-text {
        width: 100%;
    }
    
    .showcase-text h1 {
        font-size: 180%;
        line-height: 145%;
    }
    
    .section-portfolio iframe {
        height: 175px;
        width: 275px;
    }
    
    .section-quote {
        height: 600px;
    }
    
    .quote {
        width: 90%;
    }
    
    .info {
        margin: 20px 10px;
    }
    
    .info-part p {
        font-size: 80%;
    }
    
    img.footer-logo {
        height: 30px;
        margin-left: 10px;
    }
    
    .social-media ul {
        margin-right: 10px;
        padding: 0;
    }
    
    .social-media li {
        margin-right: 10px;
    }
    
}