html, body {
	margin:0;
	padding: 0;
	background: black;
	font-family: helvetica;
}

textarea {
  width: 100%;
}

.backButton {
	float: left;
	height: 40px;
	width: 125px;
	font-size: 20px;
	background-color: rgb(255, 0, 0);
	color:white;
	border:1px;
	border-radius: 8px;
	text-align: center;
	font-family: "impact";
	vertical-align: top;
	margin-left: 50px;
}

.backButton:hover {
	float: left;
	height: 40px;
	width: 125px;
	font-size: 20px;
	background-color: rgb(175, 0, 0);
	color:white;
	border:1px;
	border-radius: 8px;
	text-align: center;
	font-family: "impact";
	vertical-align: top;
	margin-left: 50px;
}

label.pure-group {
	color: white;
}

h2 {
	color: white;
	size: 25px;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}

.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#name, #email {
  width: 50%;
}

.servicesPictures {
	display: inline-block;
	margin: 50px;
	vertical-align: top;
	word-wrap: break-word;
	width: 400px;
}

.topPageLinks {
	color: white;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	text-decoration: none;
}

.topPageLinks:hover{
	color: gray;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	text-decoration: none;
}

div.buttonArea {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

div.socialMeida {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;

}

.socialMediaLogos {
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

div.mainHeader  {
	background-color: black;
	height: 200px;
}
.logo {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 25%;
	height: width*2;
}
