p {
	color: white;
}

html, body {
	margin:0;
	padding: 0;
	background: black;
	font-family: helvetica;
}


div.mainHeader  {
	background-color: black;
	height: 200px;
}
.logo {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 25%;
	height: width*2;
	margin-left: 8%;
}

b.contactHeaders {
	color: white;
	font-size: 30px;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	margin-top: 15px;
}

p.contactInfo {
	color:white;
	font-size: 20px;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	margin-top: 30px;
	margin-bottom: 20px;
}

hr.lines {
	width: 450px;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	margin-top: 40px;
}

div.info {
	padding: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	float: center;
	width: 400px;
	margin-top: 100px;
}




div.services {
	margin-top: 30px;
}

.servicesPictures {
	display: inline-block;
	margin: 50px;
	vertical-align: top;
	word-wrap: break-word;
	width: 500px;
}

.topPageLinks {
	color: white;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	text-decoration: none;
}

.topPageLinks:hover{
	color: gray;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	text-decoration: none;
}

div.buttonArea {
	display: inline-block;
	vertical-align: top;
	width: 36%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

div.socialMedia {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;

}

.socialMediaLogos {
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

div.box {
	width: 600px;
	height: 800px;
	border: 2px;	
}

div.aboutText {
	text-align: center;
	margin-top: 50px;
	width: 400px;
}

#rotating-item-wrapper {
    position: relative;
    width: 640px;
    height: 480px;
}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
	color: white;
	font-size: 30px;

}

h2 {
	font-size: 14px;
	color: white;
	word-wrap: break-word;
}



h3 {
	color: white;
	font-size: 25px;
}

h4 {
	color: white;
	font-size: 35px;
	text-align: center;
}

h5 {
	font-size: 20px;
	color: white;
	text-align: center;
}

